/* Block: welcome-page */

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-page__title {
  margin-bottom: 20px;
}

.welcome-page__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.welcome-page__button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.welcome-page__button:hover {
  background-color: #555;
}

.welcome-page__images {
  display: flex;
  gap: 20px;
}

.welcome-page__image {
  width: 100px;
  height: auto;
}
