/* Bloque: password-card */
.password-card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: visible;
}

/* Elemento: title dentro del bloque password-card */
.password-card__title {
  margin: 16px;
  font-size: 16px;
  font-weight: normal;
}

/* Elemento: content dentro del bloque password-card */
.password-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Elemento: input dentro del bloque password-card */
.password-card__input {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
}

/* Elemento: error dentro del bloque password-card */
.password-card__error {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

/* Elemento: error-image dentro del bloque password-card__error */
.password-card__error-image {
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Elemento: error-text dentro del bloque password-card__error */
.password-card__error-text {
  font-size: 14px;
  color: #000;
}